.steps-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px; /* Add padding for better spacing */
  max-width: 1200px;
}

.steps-card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background-color: steelblue;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.step {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.step:last-child {
  border-bottom: none;
}

.image-card {
  position: relative;
  text-align: center;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.image-card h4 {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.g-col-6 {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: salmon;
}

@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }
  
  .image-card {
    width: 100%; /* Ensure image cards take full width on smaller screens */
    margin-bottom: 20px; /* Add margin between image cards */
  }
}
